<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Alessio Corsini"/>
		<title>Lea Dinh</title>
		<meta name="description" content="Fullscreen Layout with Page Transitions" />
		<meta name="keywords" content="fullscreen layout, boxes, responsive, page transitions, css transitions, jquery, portfolio, template" />
		<meta name="author" content="Codrops" />
        <link rel="stylesheet" href="css/bootstrap/3.3.2/css/bootstrap.min.css"/>

        <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'/>
	    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/font-awesome/4.3.0/css/font-awesome.min.css"/>
        <link href="css/icon.css" rel="stylesheet" type="text/css" />
        <link href="css/owl_carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="css/owl_carousel/owl.theme.css" rel="stylesheet" type="text/css" />
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
		<link href="css/component_picture.css" rel="stylesheet" type="text/css" />
        <link href="css/responsive_picture.css" rel="stylesheet" type="text/css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
  <body>
    <div class="container-site">
			<div id="bl-main" class="bl-main">
				<section>

                  <figure class="effect-bubba">
                    <div class="it-title"><h2>Lea Dinh!</h2></div>
					<div class="bl-box">
						<div class="home-border"></div>
					</div>
                      <div class="container top-img">
                          <div class="col-md-12 content-txt-work">
                              <div class="title-page"><h2>Lea Dinh!</h2></div>
                          </div>
                      </div>


                      <div class="container bl-content">

                          <div class="col-md-4 img-me">
                            <img src="images/my.png" alt="">
                        </div>
                          <div class="col-md-8 about-desc">
                              <p class="nm-name">I'm <span>Lea Dinh</span></p>
                              <p>A design not through any formal training school &amp;certificate for design. But I always proud of my creative works . In spite of graduating from Information Technology major in Industrial University of Ho Chi Minh City, I turned to this career path of design by chance. It is not my major in the first sight, but I have passion and enthusiasm for this career. 7 years together is not so long but not so short time. When reviewing, I felt very happy when customers, partners and the others satisfied with and used my works .
                              </p>

                              <p class="slogan">" Life is short. Smile while you still have teeth. "</p>

                              <img class="signature" src="images/signature.png" alt="">

                          </div>

					    <div class="col-md-12 data-box">

					        <ul class="about-data">
					            <li class="flipInY animated"><strong>Full Name:</strong> DINH THI PHUONG LIEN </li>
								<li class="flipInY animated"><strong>ENG Name:</strong> LEA DINH </li>
								<li class="flipInY animated"><strong>Birthdate:</strong> 25/06/1990</li>

					        </ul>
					    </div>

			        <div id="startSkill" class="col-md-12 service-type">
			            <div class="col-md-4">

				            <div class="service-item">
					            <div class="icon">
						            <span style="background-image:url(images/s-1.png);"></span>
					            </div>
					            <div class="excerpt">
						            <span class="icon-img" style="background-image:url(images/s-1.png);"></span>
						            <h4>Web designer</h4>
						            <p>
							            Currently, I am a creative executive of website design in company Canh Cam. My daily jobs are receiving briefs, information, analysing the requirements, outlining the wide frames, then designing the website layouts, responsives and providing to customer.
						            </p>
					            </div>
				            </div>

			            </div>

			            <div class="col-md-4">

				            <div class="service-item">
					            <div class="icon">
						            <span style="background-image:url(images/s-2.png);"></span>
					            </div>
					            <div class="excerpt">
						            <span class="icon-img" style="background-image:url(images/s-2.png);"></span>
						            <h4>Teacher</h4>
						            <p>
							            I have 7 years of experiences on designing, and used to be a Photoshop teacher in Aptech center, as well as I am eager to share the experiences to youth. Therefore, if you need to improve your skills and thinking of design, I will save time to be your tutor.
						            </p>
					            </div>
				            </div>

			            </div>

			            <div class="col-md-4">

				            <div class="service-item">
					            <div class="icon">
						            <span style="background-image:url(images/s-3.png);"></span>
					            </div>
					            <div class="excerpt">
						            <span class="icon-img" style="background-image:url(images/s-3.png);"></span>
						            <h4>Freelancer</h4>
						            <p>
							            In addition to my jobs that are website design and teacher, I want to develop further skills so I will receive all kinds of the design jobs, such as: banner, cover, poster, email marketing, card visit, catalogue…I hope that we can cooperate well. Thanks!
						            </p>
					            </div>
				            </div>

			            </div>

			        </div>

					<div class="container bl-content-exp">
                            <div class="col-md-12 experiences">
                              <h2>PORTFOLIO<span>EXPERIENCES</span></h2>
                            </div>
                            <div class="col-md-6 experiences1">
                                <div class="list-experiences">
                                    <h2><i class="fa fa-briefcase"></i>Nguyen Hoang Group<span class="data"> 2011 - 2012</span></h2>
                                    <p>I used to be an intern for 2 months, then I was an official employee in Nguyen Hoang Group. The main my job is designing softwares layouts  and finishing the design requests of Group. </p>
                               </div>
                               <div class="list-experiences">
                                    <h2><i class="fa fa-briefcase"></i>Taka Web Design Company <span class="data"> 2013 - 2016</span></h2>
                                    <p>Meet, exchange, advice, get information and design requirements directly from customers. Draw wireframe - demo website. Then prepare the document, scheduled for presentations, design point guard and convince customers not to change too much on the demo website for big clients such as: Vifon, Fashion TV, VFM .. . </p>
                               </div>
                           </div>

                           <div class="col-md-6 experiences2">
                                <div class="list-experiences">
                                    <h2><i class="fa fa-briefcase"></i> Univinet Web Design Company <span class="data"> 2012 - 2013</span></h2>
                                    <p>The main my job is direct exchange with account to receive information and brief to customer. After that I will follow website design timeline, design layouts and edit feedback to customer. </p>
                               </div>
                               <div class="list-experiences">
                                    <h2><i class="fa fa-briefcase"></i>Seldat Company<span class="data"> 2016 - Now</span></h2>
                                    <p>Receiving information design to customer  form business department. Design layout website follow request.  Support for the technical department, using wordprerss to edit, change image, content for layout. Designed the brand identity for companies large and small. Participate in training sessions designed by the company organization.</p>
                               </div>
                           </div>



                    </div>



                        <div class="col-md-12 bt-skill">
                            <div class="col-md-6 work-box-txt book-img">
                                <div class="big-number col-md-4">02</div><div class="big-desc2 col-md-8">Lea Dinh info <br>My skill</div>
                            </div>
						    <div class="col-md-6 my-skill">
				                <div class="skills-area triggerAnimation animated">

                                    <div class="box-text-skill">

					                <div class="skills-box">
							                <div class="skills-progress">
								                <p>Photoshop<span>70%</span></p>
								                <div class="meter nostrips develope" data-percent="80%">
									                <p class="skillbar-bar" style="width: 80%;"></p>
								                </div>
								                <p>Illustrastor<span>60%</span></p>
								                <div class="meter nostrips design" data-percent="65%">
									                <p class="skillbar-bar" style="width: 65%;"></p>

								                </div>
								                <p>Indesign<span>30%</span></p>
								                <div class="meter nostrips branding" data-percent="50%">
									                <p class="skillbar-bar" style="width: 50%;"></p>

												</div>
								                <p>Flash<span>50%</span></p>
								                <div class="meter nostrips branding" data-percent="60%">
									                <p class="skillbar-bar" style="width: 60%;"></p>

								                </div>
								                <p>Wordpress + HTML/CSS<span>20%</span></p>
								                <div class="meter nostrips web-applications" data-percent="40%">
									                <p class="skillbar-bar" style="width: 40%;"></p>

								                </div>
							                </div>
						                </div>
                                    </div>

				                </div>
			                </div>

                         </div>

					    <div class="col-md-12 footer-social">
                            <a href="https://www.facebook.com/leadinhdesign" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.behance.net/leadinhdes68db" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                            <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
						<div class="col-md-12 copyright copyright-relative"><p>Lea Dinh Copyright © 2015 | All right reserved</p></div>
					</div>
					<span class="bl-icon bl-icon-close"><i class="fa fa-times"></i></span>
                  </figure>
				</section>
				<section>

                    <figure class="effect-bubba">
                        <div class="it-title"><h2>Portfolio</h2></div>
					    <div class="bl-box">
						    <div class="home-border"></div>
					    </div>
                        <div class="container top-img">
                          <div class="col-md-12 content-txt-work">
                              <div class="title-page"><h2>Portfolio</h2></div>
                          </div>
                      </div>


                            <div class="container bl-content">

                                <!-- Category Filter -->
                                <div class="col-md-12 experiences">
                                      <h2>My Latest <span>Works</span></h2>
                                    </div>
                                <div class="col-md-12 itens-work">

                                    <dl class="group">
                                        <dt></dt>
                                        <dd>
                                            <ul class="filter group albumFilter">

                                                <li class="cl-effect-11 current" data-filter=".cat1" data-pages="8" data-folder="cat1"><a data-hover="WEBSITE" href="#">WEBSITE</a></li>
												<li class="cl-effect-11 " data-filter=".cat5" data-pages="3" data-folder="cat5"><a style="white-space : nowrap;" data-hover="MOBILE APP" href="#">MOBILE APP</a></li>
                                                <li class="cl-effect-11 " data-filter=".cat2" data-pages="3" data-folder="cat2"><a data-hover="BANNER" href="#">BANNER</a></li>
                                                <li class="cl-effect-11" data-filter=".cat3" data-pages="1" data-folder="cat3"><a data-hover="LOGO" href="#">LOGO</a></li>
											    <li class="cl-effect-11" data-filter=".cat6" data-pages="1" data-folder="cat3"><a data-hover="DASHBOARD" href="#">DASHBOARD</a></li>
                                                <li data-filter=".cat4" class="cl-effect-11" data-pages="1" data-folder="cat4"><a data-hover="OTHER" href="#">OTHER</a></li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <div id="bl-work-items" class="portfolio albumContainer">										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_1.png" alt="">
                                                    <figcaption>
                                                        <h4>Tokyo Deli</h4>
                                                        <p>Restaurant</p>
                                                        <a href="web/leadinh_web1.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_2.png" alt="">
                                                    <figcaption>
                                                        <h4>TheFaceShop</h4>
                                                        <p>Beauty Products</p>
                                                        <a href="web/leadinh_web2.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_3.png" alt="">
                                                    <figcaption>
                                                        <h4>Galien</h4>
                                                        <p>Beauty Products</p>
                                                        <a href="web/leadinh_web3.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_4.png" alt="">
                                                    <figcaption>
                                                        <h4>TheBol</h4>
                                                        <p>Beauty Products</p>
                                                        <a href="web/leadinh_web4.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_5.png" alt="">
                                                    <figcaption>
                                                        <h4>VietFund</h4>
                                                        <p>Fashion</p>
                                                        <a href="web/leadinh_web5.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_6.png" alt="">
                                                    <figcaption>
                                                        <h4>Goldsilk Complex</h4>
                                                        <p>Real Estate</p>
                                                        <a href="web/leadinh_web6.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_7.png" alt="">
                                                    <figcaption>
                                                        <h4>Lotus Rice</h4>
                                                        <p>Rice Product</p>
                                                        <a href="web/leadinh_web7.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_8.png" alt="">
                                                    <figcaption>
                                                        <h4>Physiodermie</h4>
                                                        <p>Beauty Products</p>
                                                        <a href="web/leadinh_web8.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_9.png" alt="">
                                                    <figcaption>
                                                        <h4>Chic &amp; Trendy</h4>
                                                        <p>Securities</p>
                                                        <a href="web/leadinh_web9.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_10.png" alt="">
                                                    <figcaption>
                                                        <h4>Lotus Rice</h4>
                                                        <p>Rice Product</p>
                                                        <a href="web/leadinh_web10.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
											<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_11.png" alt="">
                                                    <figcaption>
                                                        <h4>Biz Deals</h4>
                                                        <p>Ecommerce</p>
                                                        <a href="web/leadinh_web11.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										<div class="cat1 col-md-4 item" data-panel="panel-1">
                                            <div class="grid">
                                                <figure class="effect-oscar">
                                                    <img src="images/portfolio/lea_12.png" alt="">
                                                    <figcaption>
                                                        <h4>Viet Huong</h4>
                                                        <p>Beauty Products</p>
                                                        <a href="web/leadinh_web12.html" target="_blank" class="smooth-redirect"></a>
                                                    </figcaption>	
                                                </figure>
                                            </div>
                                        </div>	
										
										
										
										
										</div>
                                    <div class="pagination"><ul><li><a data-href="cat1/1.html" href="#" class="active">1</a></li><li><a data-href="cat1/2.html" href="#">2</a></li><li><a data-href="cat1/3.html" href="#">3</a></li><li><a data-href="cat1/4.html" href="#">4</a></li><li><a data-href="cat1/5.html" href="#">5</a></li><li><a data-href="cat1/6.html" href="#">6</a></li><li><a data-href="cat1/7.html" href="#">7</a></li><li><a data-href="cat1/8.html" href="#">8</a></li></ul></div>
                                </div>
                        <div class="col-md-12 footer-social">
                            <a href="https://www.facebook.com/leadinhdesign" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.behance.net/leadinhdes68db" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                            <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
					    <div class="col-md-12 copyright copyright-relative"><p>Lea Dinh Copyright © 2015 | All right reserved</p></div>
					  </div>
					    <span class="bl-icon bl-icon-close"><i class="fa fa-times"></i></span>
                     </figure>
				</section>


				<section>

                    <figure class="effect-bubba">
                        <div class="it-title"><h2>Blog</h2></div>
					    <div class="bl-box">
						        <div class="home-border"></div>
					    </div>
                    <div class="container top-img">
                          <div class="col-md-12 content-txt-work">
                              <div class="title-page"><h2>Blog</h2></div>
                          </div>
                      </div>
					<div id="bl-blog-items" class="container bl-content">

                        <div class="col-md-8 blog-opinion">
						<div class="blog-item first-child">
                            <div class="blog-img"><img src="images/blog/blog_1.jpg" alt=""></div>
                            <div class="blog-desc box-text">
                                <h2>Palais du Luxembourg - MY DREAM<span class="date-blog">September 14, 2014 / Blog</span></h2>
                                <div class="blog-inf">
                                    <p>Not far off, one of the top things to do in Paris, the Palais du Luxembourg (Luxembourg Palace) houses the Sénat (Senate) which is the French parliament’s supreme chamber since 1958. The site that embraces today the Gardens and the Palais du Luxembourg (Luxembourg Palace) was originally a Roman camp.</p>
                                    <p class="blog-d-txt"> In 1257, when the Chartreux family settled in, this lavish place was a disreputable spot to a point where it was considered as cursed...</p>
                                    <i class="fa fa-tags"></i> Blog <i class="fa fa-tags tag"></i> Dream <i class="fa fa-tags tag"></i> Travel
                                    <a href="#" class="blog-read" data-panel="blog-1"> Read more</a>
                                </div>
                            </div>
                         </div>


                        <div class="blog-item">
                           <div class="col-video">

                                <div class="blog-img"><img src="images/blog/blog_2.jpg" alt=""></div>

                            </div>
                            <div class="blog-desc box-text">
                                <h2>Louvre Museum<span class="date-blog">September 14, 2015 / Blog</span></h2>
                                <div class="blog-inf">
                                    <p>The Louvre is one of the most famous museums in the world, and it houses one of the most famous pieces of art in the world, Mona Lisa. Established in 1792, it is now the most visited museum in the world. With a history that directly involved Napoleon, you are sure to capture the essence of the history of Paris in the Louvre.</p>
                                    <p class="blog-d-txt">One thing which not a lot of people know is that Mona Lisa is not the best painting in the museum. A lot of people go to the museum just to see the painting...</p>
                                    <i class="fa fa-tags"></i> Travel <i class="fa fa-tags tag"></i> Blog <i class="fa fa-tags tag"></i> Dream

                                    <a href="#" class="blog-read" data-panel="blog-4"> Read more</a>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4 right-cat">
                          <div class="box-content right-position">
                               <div class="blog-right-column">
                                 <form action="https://www.behance.net/leadinhdes68db" method="get" class="search-form">
						            <input type="text" name="s" id="search" value="" placeholder="Search ...">
						            <button type="submit"><i class="fa fa-search"></i></button>
					            </form>
                                 <h2>Categories</h2>
                                 <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Travel</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Video</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Share</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Music</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Fashion</a></li>
                                 </ul>
                               </div>
                            </div>
                            <div class="box-content blog-r-posts">
                               <div class="blog-right-column">
                                 <h2>Recent Posts</h2>
                                 <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Palais du Luxembourg - MY DREAM </a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Louvre Museum</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Cathedrale Notre-Dame de Paris</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Jardin du Luxembourg </a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Saint Germain of Prés Church</a></li>
                                 </ul>
                               </div>
                            </div>
                          </div>
                          <div class="col-md-12 footer-social">
                            <a href="https://www.facebook.com/leadinhdesign" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.behance.net/leadinhdes68db" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                            <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                        <div class="col-md-12 copyright copyright-relative"><p>Lea Dinh Copyright © 2015 | All right reserved</p></div>
					</div>
					<span class="bl-icon bl-icon-close"><i class="fa fa-times"></i></span>
                    </figure>
				</section>
				<section>

                    <figure class="effect-bubba">
                        <div class="it-title"><h2>Contact</h2></div>
					    <div class="bl-box">
                            <div class="home-border"></div>
					    </div>
                        <div class="container top-img">
                          <div class="col-md-12 content-txt-work">
                              <div class="title-page"><h2>Contact</h2></div>
                          </div>
                      </div>
					    <div class="container bl-content">
                            <div class="col-md-12 contact-form-title top-contact">
                                      <h2>CONTACT <span>INFO</span></h2>
                                </div>
						    <p>Thank you so much that you are interested in my website. I’m sociable, friendly, eager to learn and exchange experiences. I hope, I can get acquainted and make friends with many people from various cultures all over the world. If you have the same thoughts as mine, have the same passion on creativity as mine, please contact with me. We can chat and share the experiences in our job as well as in our life. I am very delighted to have friends like you. Thank you so much, again!</p>
					        <div class="box-content contact">
                                <div class="col-xs-4 col-md-4 c-info"><p><i class="fa fa-phone"></i>+84 984 184 822</p></div>
                                <div class="col-xs-4 col-md-4 c-info"><p><i class="fa fa-skype"></i>leadinhdesign</p></div>
					            <div class="col-xs-4 col-md-4 c-info"><p><i class="fa fa-envelope-o"></i>leadinhdesign@gmail.com</p></div>

                                <div class="col-md-12 contact-form-title">
                                      <h2>GET IN TOUCH <span>WITH ME</span></h2>
                                    </div>
					            <form id="contact_form" class="form email-form" method="post" autocomplete="off">
                                  <div class="col-md-6">
                                    <input type="text" name="subject" id="subject" class="input-contact" placeholder="Subject">
                                    <input type="text" name="name" id="name" class="input-contact" placeholder="Name">
                                    <input type="email" name="email" class="input-contact" id="email" placeholder="E-mail">

                                  </div>
                                  <div class="col-md-6">
                                    <textarea name="message" id="message" class="input-contact" placeholder="Message" cols="30" rows="7"></textarea>
                                    <button type="submit" class="btn submit-contact"><i class="fa fa-envelope-o"></i>SUBMIT</button>
                                    <p class="success">Your message has been sent successfully.</p>
                                    <p class="error">E-mail must be valid and message must be longer than 20 characters.</p>
                                  </div>
                                </form>
                            </div>

                            <section id="section5" class="cd-section">
                            <!--Google Maps-->
                                    <div id="map_container">
			                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15673.908462697955!2d106.6885035345363!3d10.851269498816407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175284714b83a61%3A0xb3f07df94eab3868!2zVsaw4budbiBMw6BpLCBBbiBQaMO6IMSQw7RuZywgUXXhuq1uIDEyLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1449220691679" width="1090" height="405" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		                            </div>
                            </section>
                         <div class="col-md-12 footer-social">
                            <a href="https://www.facebook.com/leadinhdesign" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.behance.net/leadinhdes68db" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                            <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                          <div class="col-md-12 copyright copyright-relative"><p>Lea Dinh Copyright © 2015 | All right reserved</p></div>
                        </div>
					<span class="bl-icon bl-icon-close"><i class="fa fa-times"></i></span>
                    </figure>
				</section>

			</div>
        </div>
        
        <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>


        <script src="js/jquery.appear.js" type="text/javascript"></script>

        <script src="js/owl_carousel/owl.carousel.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/boxlayout.js"></script>
		<script type="text/javascript">
		    $(function () {
		        "use strict";
		        Boxlayout.init();
		    });

			$( document ).ready(function() {

				$('.filter li').click(function(){
				$('.filter li').removeClass('current');
				$(this).addClass('current');
				 $('.item').fadeOut(200);
				  var selector = $(this).attr('data-filter');

				  $(selector ).fadeIn(500);
				});
			});

		</script>
  </body>
</html>
