@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);body, html{font-size:100%;padding:0;margin:0;height:100%;}
*,
*:after,
*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:'Roboto', Calibri, Arial, sans-serif;color:#333;background:#333;font-size:13px;font-weight:400;letter-spacing:0.02em;}
a:hover{color:#fff;}
img{max-width:100%;}
.bl-main > section.bl-expand .bl-box{cursor:default;}
.bk-device{display:none;}
::-webkit-scrollbar{width:12px;z-index:9999;background:#fff;}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;z-index:9999;}
::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);z-index:9999;}
.container-site{height:100%;}
.contain-logo{position:absolute;z-index:99;background-color:transparent;vertical-align:middle;top:41%;width:100%;text-align:center;}
.contain-logo .logo{position:relative;width:150px;height:150px;color:#333;text-align:center;margin:0 auto;background:#fff;vertical-align:middle;border-radius:100%;box-shadow:0 1px 1px rgba(0,0,0,0.4);text-transform:uppercase;}
.contain-logo .logo h2{vertical-align:middle;padding-top:45px;font-family:'Roboto', Arial, sans-serif;font-weight:900;font-size:22px;}
.contain-logo.bl-expand-item{-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);opacity:0;}
.bl-main{position:absolute;width:100%;height:100%;overflow:hidden;}
.bl-main > section{position:absolute;width:50%;height:50%;}
.bl-main > section:first-child{top:0;left:0;background:#ddd;}
.bl-main > section:nth-child(2){top:0;left:50%;background:#eee;}
.bl-main > section:nth-child(3){top:50%;left:0;background:#eee;}
.bl-main > section:nth-child(4){top:50%;left:50%;background:#ddd;}
.bl-box{position:relative;width:100%;height:100%;cursor:pointer;opacity:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-moz-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.it-title h2{position:absolute;z-index:99999;color:#111;right:0;bottom:0;margin:0 80px 35px 0;text-transform:uppercase;font-size:70px;text-transform:uppercase;font-family:'Lato', Arial, sans-serif;font-weight:800;letter-spacing:1px;}
.bl-main > section.bl-expand.bl-expand-top .it-title{display:none;}
.bl-main .it-title:hover:after{cursor:pointer;}
.bl-main .it-title h2:hover{cursor:pointer;}
.bl-main > section .bl-icon-close{position:fixed;top:0px;right:12px;cursor:pointer;z-index:100;opacity:0;padding:19px 24px 20px 24px;background-color:#111;color:#fff;border:1px solid #222;}
.bl-icon-close i{font-size:22px;}
section.bl-expand .bl-content{background:#fff;}
.bl-content,
div.bl-panel-items > div > div{opacity:0;pointer-events:none;position:relative;top:0px;bottom:30px;margin-bottom:30px;padding:40px;overflow:auto;box-shadow:0 1px 1px rgba(0,0,0,0.1);}
.p-panel{margin-top:60px}
.bl-main > section:nth-child(1){background-image:url(../images/4.jpg);background-position:center center;background-repeat:no-repeat !important;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bl-main > section:nth-child(2){background-image:url(../images/1.jpg);background-repeat:no-repeat !important;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bl-main > section:nth-child(3){background-image:url(../images/2_text.jpg);background-repeat:no-repeat !important;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bl-main > section:nth-child(4){background-image:url(../images/3.jpg);background-repeat:no-repeat !important;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.effect-bubba{background:rgba(0,0,0,0);}
.effect-bubba:hover{background:rgba(0,0,0,0);}
.bl-main > section.bl-expand .effect-bubba{background-color:transparent;}
.bl-main > section:nth-child(1) .bl-box{border-right:1px solid rgba(0,0,0,0.2);}
.bl-main > section:nth-child(3) .bl-box{border-right:1px solid rgba(0,0,0,0.2);border-top:1px solid rgba(0,0,0,0.2);}
.bl-main > section:nth-child(4) .bl-box{border-top:1px solid rgba(0,0,0,0.2);}
.effect-bubba{height:100%;width:100%;margin:0;}
.effect-bubba .home-border::before,
.effect-bubba .home-border::after{position:absolute;top:30px;right:30px;bottom:30px;left:30px;content:'';opacity:0;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;}
.effect-bubba .home-border::before{border-top:1px solid #333;border-bottom:1px solid #333;-webkit-transform:scale(0,1);transform:scale(0,1);}
.effect-bubba .home-border::after{border-right:1px solid #333;border-left:1px solid #333;-webkit-transform:scale(1,0);transform:scale(1,0);}
.effect-bubba:hover .home-border::before,
.effect-bubba:hover .home-border::after{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
.effect-bubba:hover .home-border h2{text-shadow:0px 2px 0px rgba(0,0,0,0.1), 6px 14px 5px rgba(0,0,0,0.15), 0px 14px 12px rgba(0,0,0,0.1), 0px 24px 20px rgba(0,0,0,0.1);}
.title-page{text-align:right;margin-top:20px;}
.about-desc{padding-left:0px;margin-top:60px;}
.about-data{padding:0 0 0 30px;margin:20px 0 40px 0;}
.data-box{padding-left:0;width:100%;background-color:#34bfba;color:#fff;margin-bottom:0px;margin-top:50px;}
.service-item{margin-bottom:50px;}
.service-type{margin-top:70px;}
.service-item .icon{font-size:48px;color:#333333;float:left;}
.service-item .icon span{display:inline-block;width:57px;height:57px;background-repeat:no-repeat;background-position:center top;background-size:contain;}
.service-item .excerpt{margin-left:80px;position:relative;}
.service-item .excerpt .icon-img{width:102px;height:102px;position:absolute;right:40px;bottom:-15px;opacity:0.07;background-repeat:no-repeat;background-position:center center;background-size:contain;z-index:9;}
.service-item .excerpt h4{font-family:'Lato';font-size:14px;font-weight:600;text-transform:uppercase;margin:0px;margin-bottom:10px;position:relative;}
.about-data li{font-size:13px;list-style-type:none;padding:10px 0;font-family:'Dosis', Arial;font-weight:400;letter-spacing:4px;}
.about-data li strong{font-weight:600;text-transform:uppercase;font-family:'Lato', Arial;letter-spacing:1px;}
.img-me{padding-left:0;padding-right:30px;margin-top:40px;}
.img-me img{width:100%;padding:0px;box-shadow:0 0px 0px rgba(0,0,0,0.6);}
.bl-content p.slogan{font-family:'Tangerine',sans-serif;font-weight:400;font-size:34px;}
.signature{margin-bottom:30px;}
.bl-content p.nm-name{font-size:64px;font-weight:800;}
.bl-content p.nm-name span{color:#34bfba;}
.bl-content p{padding-bottom:15px;font-size:13px;line-height:1.8;color:#333;}
.bl-content .infop{padding-left:0;}
.bl-content .infop h2{margin:80px 0 0px 0;}
.bl-content h2{font-size:20px;font-weight:800;margin:0 0 40px 0;color:#333;text-transform:uppercase;font-family:Lato, Arial;letter-spacing:0;}
.bl-content h2 span{color:#34bfba;}
.bl-content .blog-desc h2{font-size:20px;font-weight:800;margin:0 0 40px 0;color:#fff;text-transform:uppercase;font-family:Lato, Arial;letter-spacing:0;background-color:#34bfba;padding:30px 20px;}
.bl-content .blog-desc h2 span{color:#fff;font-style:italic;font-weight:400;}
.bl-content .blog-right-column h2{margin-top:0px;color:#fff;font-size:14px;font-weight:800;background-color:#34bfba;padding:30px 20px;}
.bl-content h2 span.date-blog{font-size:13px;float:right;}
.bl-content h2.title-page{font-size:18px;font-weight:500;margin:0 0 60px 0;color:#333;text-transform:uppercase;font-family:'Dosis', Arial;border-bottom:1px solid #ccc;padding-bottom:10px;letter-spacing:6px;}
.bl-content article{padding:20px 40px 20px 0px;}
.bl-content article h3{font-weight:700;letter-spacing:2px;text-transform:uppercase;margin:0 0 10px 0;padding-top:20px;font-size:1.4em;}
.bl-content article a{color:rgba(0,0,0,0.2);}
.bl-content > ul{list-style:none;padding:0;margin:0;}
.bl-content > ul li{display:inline-block;width:20%;margin:1%;}
.bl-content > ul li a{display:block;padding:0;border:8px solid rgba(0,0,0,0.1);}
.bl-content > ul li a img{display:block;max-width:100%;}
.title-page h2{top:20px;font-size:70px;text-transform:uppercase;font-family:'Lato', Arial, sans-serif;font-weight:800;letter-spacing:1px;color:#fff;z-index:3;margin:0;}
.top-img{padding:0;pointer-events:none;}
.work-box-txt{padding:55px 15px;overflow:hidden;}
.work-box-txt2{padding:20px 15px;}
.work-box-txt:before{content:"";position:absolute;top:0;right:0;border-width:0 16px 16px 0;border-style:solid;border-color:#fff #fff #34bfba #34bfba;background:#658E15;display:block;width:0;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);}
.book-img{text-align:center;background-color:#34bfba;}
.book-img h1{padding:20px;text-align:right;margin-top:0;}
.book-img .big-desc{font-size:50px;font-weight:800;text-transform:uppercase;font-family:Lato, Arial;text-align:right;line-height:1.2;display:inline-block;color:#fff;padding:0;}
.book-img .big-desc2{font-size:50px;font-weight:800;text-transform:uppercase;font-family:Lato, Arial;text-align:left;line-height:1.2;display:inline-block;color:#fff;}
.book-img .big-number{color:#fff;font-size:130px;font-family:Lato, Sans-Serif;font-weight:800;display:inline-block;}
.book-img img{width:55%;}
.laptop-img img{width:80%;margin-top:50px;}
.laptop-img-for-device{display:none;}
.laptop-img{text-align:center;}
.skills-box .meter{height:6px;border:1px solid #434343;padding:1px;margin-bottom:15px;}
.skills-box .meter p{height:2px;background:#252525;padding:0;}
.skills-box .skills-progress > p span{float:right;color:#434343;}
.skills-progress p{font-family:'Releway', Arial, sans-serif;letter-spacing:1px;text-transform:uppercase;font-weight:400;font-size:13px;color:#415464;margin-bottom:0;}
.skillbar-bar{width:0px;}
.bl-content-exp{background:#fff;position:relative;top:0px;bottom:0px;margin-bottom:0px;padding:2px;overflow:hidden;max-width:100%;}
.bl-content-exp h2{font-size:20px;font-weight:800;margin:0 0 40px 0;color:#333;text-transform:uppercase;font-family:Lato, Arial;letter-spacing:0;}
.bl-content-exp h2 span{color:#34bfba;}
.experiences{padding:30px 15px 20px 0;text-align:center;}
.experiences1{padding:0px 15px 20px 0;}
.experiences2{padding:0px 0 20px 15px;}
.list-experiences{padding:0;margin-bottom:55px;}
.list-experiences h2 i{margin-right:10px;color:#333;font-size:16px;}
.list-experiences h2{font-size:14px;text-transform:uppercase;text-align:left;border-bottom:1px solid #8C8C8C;margin-bottom:33px;padding-bottom:7px;letter-spacing:1px;font-family:Roboto, Arial;font-weight:400;}
.list-experiences h2 span{color:#34bfba;}
.content-txt-work{padding:0;margin-bottom:-12px;border-bottom:0px solid #111;}
.bl-content .content-txt-work h2.title-page{color:#fff;margin-bottom:5px;border-bottom:0px;margin-top:15px;text-align:center;padding:0;}
.bl-content .content-txt-work .col-md-1{padding:0;}
.bl-content .content-txt-work .col-md-11{padding:0;}
dl{margin-bottom:3em;color:#777;}
dt, dd{float:left;}
dt{margin-right:5px;}
.group dd{width:100%;}
.group ul.filter{margin:0 auto;text-align:center;z-index:99999;position:relative;width:100%;float:left;}
.filter li{display:inline-block;list-style:none;margin-right:5px;z-index:99999;}
.filter .current a{color:#333;border-bottom:1px solid #34bfba;}
.cl-effect-11 a{padding:10px 0;color:#828a8f;text-shadow:none;position:relative;text-decoration:none;text-shadow:0 0 1px rgba(255,255,255,0.3);font-weight:400;margin-right:50px;letter-spacing:2px;font-family:'Roboto', Arial, sans-serif;font-size:13px;}
.cl-effect-11 a::before{position:absolute;top:0;left:0;overflow:hidden;padding:9px 0;max-width:0;border-bottom:1px solid #34bfba;color:#333;font-weight:400;content:attr(data-hover);-webkit-transition:max-width 0.5s;-moz-transition:max-width 0.5s;transition:max-width 0.5s;}
.cl-effect-11 a.active::before{content:"";}
.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before{max-width:100%;}
.overlay-white{background:rgba(3,3,3, .9);padding:100px 0;}
.bt-skill{margin-bottom:0;padding:10px 0 80px 0;}
.bt-know{margin-bottom:0;padding:80px 0 20px 0;}
.ow-carusel-client{top:0px;bottom:30px;position:relative;padding:0;}
.parallax2{background:url(../images/section-parallax.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;width:100%;float:left;position:relative;z-index:999;}
.carousel-desc p{color:#fff;}
.carousel-desc{text-align:center;}
.carousel-desc .icon-anchor{font-size:18px;color:#fff;}
.carousel-desc h1{color:#fff;margin-bottom:30px;font-size:16px;margin-top:10px;text-transform:uppercase;font-weight:800;letter-spacing:3px;}
.portfolio{padding:50px 0 0px 1px;position:relative;margin-bottom:20px;}
.portfolio .item{-moz-animation:fadein 2s;-webkit-animation:fadein 2s;-o-animation:fadein 2s;padding-bottom:30px;}
.itens-work{padding:0 0 70px 0;}
.isotope-item{z-index:2;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope{overflow:visible!important;}
.isotope,
.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-ms-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity;}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;}
.grid{position:relative;margin:0 auto;list-style:none;text-align:center;}
.grid figure{position:relative;overflow:hidden;text-align:center;cursor:pointer;}
.grid figure img{position:relative;display:block;opacity:1;}
.grid figure figcaption h4{color:#fff;margin:30% 0 5px 0;padding:5px;font-family:'Roboto', Arial, sans-serif;letter-spacing:1px;text-transform:uppercase;font-weight:600;font-size:16px;}
.grid figure figcaption p{color:#fff;margin:0;padding:10px;font-family:'Roboto', Arial, sans-serif;letter-spacing:1px;text-transform:uppercase;font-weight:400;font-size:13px;line-height:0;letter-spacing:2px;}
.grid figure figcaption{padding:2em;color:#fff;text-transform:uppercase;font-size:13px;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.grid figure figcaption::before,
.grid figure figcaption::after{pointer-events:none;}
.grid figure figcaption,
.grid figure figcaption > a{position:absolute;top:0;left:0;width:100%;height:100%;}
figure.effect-oscar img{opacity:1;-webkit-transition:opacity 0.35s;transition:opacity 0.35s;}
figure.effect-oscar figcaption{padding:3em;-webkit-transition:background-color 0.35s;transition:background-color 0.35s;}
figure.effect-oscar figcaption::before{position:absolute;top:30px;right:30px;bottom:30px;left:30px;border:1px solid #fff;content:'';}
figure.effect-oscar figcaption::before,
figure.effect-oscar h4, figure.effect-oscar p{opacity:0;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:scale(0);transform:scale(0);}
figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover h4, figure.effect-oscar:hover p{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
figure.effect-oscar:hover figcaption{background-color:rgba(0,0,0,0.9);}
figure.effect-oscar:hover img{opacity:1;}
.blog-item.first-child{border-bottom:1px solid #dbdbdb;padding-bottom:70px;padding-top:0px;}
.blog-item{border-bottom:1px solid #dbdbdb;padding-bottom:70px;padding-top:70px;}
#bl-blog-items .blog-item:last-child{border-bottom:0px solid #dbdbdb;}
#bl-blog-items .blog-opinion{padding-left:0;margin-top:50px;}
#soundcloud_widget{width:100%;border:0px;}
#soundcloud_widget2{width:100%;border:0px;}
.box-sound{padding-left:0;}
.blog-img{position:relative;display:block;z-index:1;overflow:hidden;margin:0;display:block;width:100%;}
.blog-img img{max-width:100%;position:relative;display:block;webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.blog-img:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1);}
.blog-desc.box-text{margin-top:40px;height:auto;}
.box-text{border:0px solid #dbdbdb;padding:28px 0px 11px;position:relative;display:block;background-color:#fff;height:400px;}
.blog-d-txt{margin-bottom:30px;}
.blog-read{padding:10px 15px;background:#fff;border:1px solid #111;color:#fff;text-transform:uppercase;font-family:'Dosis',sans-serif;font-weight:400;font-size:11px;background:#111;letter-spacing:2px;float:right;}
.blog-inf .tag{margin-left:20px;}
.blog-read:hover{text-decoration:none;border:1px solid #111;color:#eee;background:#2c2c2c;}
.video-container{position:relative;padding-bottom:49.25%;padding-top:30px;height:0;overflow:hidden;}
.col-video{width:100%;}
.video-container iframe, .video-container object, .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;border:0px;}
.right-cat{margin-top:50px;}
.box-content.right-position, .box-content.blog-r-posts{padding:0 0 50px 0;}
.blog-right-column ul{padding:0 20px;}
.blog-right-column ul li{list-style-type:none;padding:20px 0;border-bottom:1px solid #dbdbdb;}
.blog-right-column ul li:first-child{padding:0px 0 20px 0;}
.blog-right-column ul li a{color:#616265;text-decoration:none;}
.blog-right-column{padding-left:40px;}
.blog-right-column h2{margin-top:0px;color:#fff;font-size:14px;font-weight:800;}
.blog-inf{padding:0 20px;}
.blog-right-column ul li i{margin-right:5px;font-size:14px;}
.blog-right-column ul li a:hover i{color:rgb(13, 193, 193);}
.search-form{position:relative;margin-bottom:40px;}
.search-form input:not([type="submit"]){border:0px;border-bottom:1px solid rgba(119, 119, 119, 0.2);width:100%;font-family:'Roboto';font-size:13px;text-transform:uppercase;color:#333333;padding-top:5px;padding-bottom:5px;margin-bottom:10px;}
.search-form input{padding:15px 0px;padding-right:40px;width:100%;}
.search-form button{position:absolute;right:0px;top:0px;height:100%;background-color:transparent;border:0px;font-size:16px;line-height:100%;padding:0px 15px 10px 15px;color:#777777;box-shadow:none;text-transform:uppercase;letter-spacing:1px;-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;transition:all 0.25s ease;}
.search-form input:not([type="submit"]):focus{outline:none;border-bottom-color:#4ac3bf;color:#4ac3bf;}
.contact{padding:0 0 80px 0;}
.top-contact{margin-top:50px;}
.contact-form-title{padding:0px 0px 20px 0;text-align:center;width:100%;float:left;}
.box-content{width:100%;float:left;padding:40px 0 80px 0;}
.contact .c-info{text-align:center;margin:10px 0 80px 0;font-family:'Dosis',sans-serif;font-weight:400;letter-spacing:2px;}
.contact .c-info i.fa-phone{padding:10px 11px;}
.contact .c-info i.fa-map-marker{padding:10px 13px;}
.contact .c-info i{color:#fff;background:#212121;border:1px solid #212121;padding:10px;margin-right:10px;}
#name, #email, #subject{width:100%;background:#fff;}
#email, #name{margin-top:20px;}
.form input[type="text"], .form input[type="email"], .form input[type="number"], .form input[type="url"], .form input[type="search"], .form input[type="tel"], .form input[type="password"], .form input[type="date"], .form input[type="color"], .form select{display:inline-block;vertical-align:middle;letter-spacing:1px;color:#777;border:1px solid rgba(0,0,0, .2);font-family:'Dosis',sans-serif;font-weight:400;letter-spacing:4px;font-size:12px;text-transform:uppercase;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.input-contact{display:block;padding:15px 15px;width:100%;font-size:13px;color:#333;background:#fff;}
#message{height:188px;background:#fff;border:1px solid rgba(0,0,0, .2);letter-spacing:4px;font-family:'Dosis',sans-serif;font-weight:400;font-size:12px;text-transform:uppercase;}
.submit-contact{margin-top:20px;background:#212121;color:#fff;border:1px solid #212121;font-size:12px;font-family:'Dosis',sans-serif;font-weight:400;letter-spacing:4px;border-radius:0px;padding:10px 25px;float:right;-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease;}
.submit-contact:hover{color:#212121;background:#fff;}
.submit-contact i{margin-right:10px;}
#contact_form .success{display:none;}
#contact_form .error{display:none;}
#section5{position:relative;}
#map_container{width:100%;margin-top:0px;position:relative;float:left;margin-bottom:80px;}
#map_canvas{height:400px;position:relative;top:0px;width:100%;z-index:1;}
#map_canvas img{max-width:none !important;height:auto !important;background:none !important;border:0 !important;margin:0 !important;padding:0 !important;}
.cover-map{background:rgba(0,0,0,0.9);height:400px;width:100%;position:absolute;z-index:2;bottom:0;left:0;padding:0 !important;-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease;}
.content-map{margin:70px auto 0 auto;text-align:center;}
.mm-open, .mm-close{text-transform:uppercase;text-align:center;letter-spacing:2px;position:absolute;font-size:14px;font-family:'Open sans',sans-serif;top:47%;left:47%;color:#fff;font-weight:400;cursor:pointer;}
.mm-close{display:none;top:30%;}
.cover-map.map-active img{moz-transform:scale(0);-webkit-transform:scale(0);-o-transform:scale(0);transform:scale(0);}
.cover-map.map-active{height:50px;background:rgba(17,17,17, .75);}
div.bl-panel-items,
div.bl-panel-items > div{width:100%;height:100%;top:0;left:0;position:absolute;}
div.bl-panel-items > div > div{opacity:1;pointer-events:auto;background:#fff;}
div.bl-panel-items > div > div h3{font-size:18px;font-weight:600;margin:0 0 30px 0;color:#333;text-transform:uppercase;font-family:'Lato', Arial;border-bottom:1px solid #ccc;padding-bottom:10px;letter-spacing:0;}
.txt-middle-post{color:#111;padding:5px 20px;font-weight:400;line-height:24px;border-left:1px solid #111;margin:20px 10px;font-family:'Roboto', Arial;letter-spacing:2px;}
h2.other-info{margin-top:60px;font-family:'Roboto', Arial;font-weight:600;color:#616265;border-bottom:0px solid #8c8c8c;margin-bottom:18px;font-size:13px;text-transform:uppercase;letter-spacing:2px;}
ul.other-list{padding:0;}
ul.other-list li{list-style-type:none;color:#616265;font-weight:400;letter-spacing:1px;padding:10px 0;cursor:pointer;}
ul.other-list span.ico{font-size:16px;margin-right:10px;color:#111;}
div.bl-panel-items > div > div p{font-size:13px;line-height:1.8;color:#333;}
div.bl-panel-items > div > div img{float:left;margin:0 20px 20px 0;max-width:100%;width:90%;}
div.bl-panel-items{top:100%;z-index:9999;}
div.bl-panel-items > div{background-image:url(../images/sos.png);background-repeat:repeat !important;-webkit-background-size:inherit;-moz-background-size:inherit;-o-background-size:inherit;background-size:inherit;z-index:0;opacity:0;-webkit-transform:translateY(0);-webkit-transition:-webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;-moz-transform:translateY(0);-moz-transition:-moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;transform:translateY(0);transition:transform 0.5s ease-in-out, opacity 0s linear 0.5s;-ms-transform:translateY(0);}
div.bl-panel-items nav{position:absolute;z-index:9999;width:216px;left:50%;top:0px;margin-left:-108px;opacity:0;-webkit-transition:opacity 0.2s ease-in-out 0.5s;-moz-transition:opacity 0.2s ease-in-out 0.5s;transition:opacity 0.2s ease-in-out 0.5s;}
div.bl-panel-items.bl-panel-items-show nav span{float:left;margin:5px;}
div.bl-panel-items nav span.bl-next-work, div.bl-panel-items nav span.bl-next-blog{font-weight:500;letter-spacing:4px;display:block;font-family:'Dosis', Arial;text-transform:uppercase;line-height:2em;cursor:pointer;margin-right:2em;}
div.bl-panel-items.bl-panel-items-show nav span:hover{cursor:pointer;}
div.bl-panel-items.bl-panel-items-show nav{opacity:1;top:-70px;background:#fff;}
div.bl-panel-items > div.bl-show-work, div.bl-panel-items > div.bl-show-blog{z-index:1000;opacity:1;-webkit-transform:translateY(-100%);-webkit-transition:-webkit-transform 0.5s ease-in-out;-moz-transform:translateY(-100%);-moz-transition:-moz-transform 0.5s ease-in-out;transform:translateY(-100%);transition:transform 0.5s ease-in-out;-ms-transform:translateY(-100%);overflow:auto;}
div.bl-panel-items > div.bl-hide-current-work, div.bl-panel-items > div.bl-hide-current-blog{opacity:0;-webkit-transition:-webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;-webkit-transform:translateY(-100%) scale(0.5);-moz-transition:-moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;-moz-transform:translateY(-100%) scale(0.5);transition:transform 0.5s ease-in-out, opacity 0.5s ease-in-out;transform:translateY(-100%) scale(0.5);-ms-transform:translateY(-100%) scale(0.5);z-index:0;}
.bl-main > section{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.bl-main > section.bl-expand{width:100%;height:100%;top:0;left:0;}
.bl-main > section.bl-expand-top{z-index:100;overflow:hidden;overflow-y:auto;}
.bl-main > section.bl-expand.bl-expand-top .bl-box{display:none;}
.bl-main > section:nth-child(1).bl-expand{background-image:url(../images/test.jpg);background-position:center center;background-repeat:no-repeat !important;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bl-main > section:nth-child(2).bl-expand{background-image:url(../images/test.jpg);background-position:center center;background-repeat:no-repeat !important;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bl-main > section:nth-child(3).bl-expand{background-image:url(../images/test.jpg);background-position:center center;background-repeat:no-repeat !important;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bl-main > section:nth-child(4).bl-expand{background-image:url(../images/test.jpg);background-position:center center;background-repeat:no-repeat !important;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down{-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);opacity:0;}
.bl-box{-webkit-transition:opacity 0.2s linear 0.5s;-moz-transition:opacity 0.2s linear 0.5s;transition:opacity 0.2s linear 0.5s;}
section.bl-expand .bl-box{opacity:0;-webkit-transition:opacity 0s linear;-moz-transition:opacity 0s linear;transition:opacity 0s linear;}
.bl-box h2{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.no-touch section:not(.bl-expand) .bl-box:hover h2{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);transform:translateY(-15px);}
.bl-content,
.bl-icon-close{-webkit-transition:opacity 0.1s linear 0s;-moz-transition:opacity 0.1s linear 0s;transition:opacity 0.1s linear 0s;}
section.bl-expand .bl-content,
section.bl-expand .bl-icon-close{pointer-events:auto;opacity:1;-webkit-transition:opacity 0.3s linear 0.5s;-moz-transition:opacity 0.3s linear 0.5s;transition:opacity 0.3s linear 0.5s;}
.footer-social{margin-bottom:30px;padding-left:0;text-align:center;margin-top:60px;}
.footer-social a{width:25px;height:25px;line-height:25px !important;position:relative;margin:0 6px;text-align:center;display:inline-block;color:#111;border:1px solid #111;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease;}
.footer-social a i{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.footer-social a:hover{color:#fff;}
.footer-social a:hover{background:#111;}
@media screen and (max-width:46.5em){.bl-content,
.bl-box{font-size:75%;}
.bl-expand .bl-box{height:130px;}
.bl-content > ul li{width:40%;}
}
.copyright{text-align:center;position:absolute;bottom:0px;padding-bottom:30px;margin:0;}
.copyright p{font-size:11px;font-weight:500;padding:0;margin:0;font-family:'Roboto', Arial, sans-serif;letter-spacing:2px;text-transform:uppercase;}
.copyright.copyright-relative{position:relative;padding-bottom:0px;padding-left:0;}
#bl-contact-section .copyright.copyright-relative{padding:0;margin-top:0px;}
.pagination{text-align:center;width:100%;}
.pagination ul{display:inline-block;margin:0;padding:0;list-style:none;}
.pagination ul li{display:inline-block;}
.pagination ul li a{display:inline-block;width:50px;height:50px;border:1px solid #ccc;padding:15px 0;margin:5px;}
.pagination ul li a:hover,
.pagination ul li a.active{color:#fff;border-color:#34BFBA;background-color:#34BFBA;}